/*グレー系*/

$dark_gray:#666666;
$gray:#cccccc;
$light_gray:#eeeeee;
$very_light_gray:#fafafa;

/*マゼンタ系*/

$magenta:rgb(166, 98, 226);
$dark_magenta: darken($magenta,25%);

$red: #cc0000;
$pink: #ffcccc;

$green: #00cc00;